In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
## Adding 'FDS profiling package'
import sys
sys.path.insert(0, '/Users/harsh/Desktop/DATA_SCIENCE/PandasProfiling/')

import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

from missingno import missingno
from fds_profiling.visualisation.image_encoding import hex_to_rgb, plot_360_n0sc0pe

from fds_profiling.report import templates
from fds_profiling.report.renderable import Renderable

from fds_profiling.config import config

from fds_profiling.model.base import get_df_col_types
from fds_profiling.model.overview import overview

from fds_profiling.model.aggregators import groupby_aggregator
from fds_profiling.model.summary import describe_numeric_1d
from fds_profiling.model.summary import get_table_stats
from fds_profiling.model.describe import describe_table
from fds_profiling.model.associations import associations

/Users/harsh/anaconda3/lib/python3.6/site-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [3]:
# describe_numeric_1d(df["Age"])

##### Titanic dataset

In [4]:
import requests
import io
s = requests.get("https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv").content
df = pd.read_csv(io.StringIO(s.decode('utf-8')))
df.head(2)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C

In [5]:
# import requests
# import io
# s = requests.get("https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data").content
# df = pd.read_csv(io.StringIO(s.decode('utf-8')))
# df.head(2)

In [6]:
df.head(2)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C

In [7]:
# from fitter import Fitter
# f = Fitter(df[" 77516"])
# f.fit()
# f.summary()

##### Variable types

In [8]:
config.config["var_types"] = get_df_col_types(df)
column_types = config.config["var_types"]

##### Metrics

In [9]:
## TODO: space problem in metric name
def count_(df):
    return df

def metric_1(df):
    return df["Survived"].sum()

def metric_2(df):
    return df["Survived"].count()

total_metrics = [("metric_1", metric_1), ("metric_2", metric_2)]

#### Report Structure

In [10]:
## name, anchor_id, render
sections = []
overview_df = overview(df)

## Overview
df_info = describe_table(df, config.config["var_types"])
sections.append(
    Renderable(
        content = {
            "size": 6,
            "headings": ["Dataset", "Variable types"],
            "contents": df_info
        },
        name="Overview",
        anchor_id="overview",
        type_id="multiple_tables"))

## Variables
sections.append(
    Renderable(
        content = {"dataframe":df, "metrics":total_metrics, "column_types":config.config["var_types"]},
        name="Variables",
        anchor_id="variables",
        type_id="variables_container"))

##### Creating HTML report

In [11]:
## Creating
html_template = templates.template("report.html")

#### navigations items
nav_items = [
    (section.name, section.anchor_id)
    for section in sections
]

data = html_template.render(
    title = "Pandas Profiling", ## report
    nav_items=nav_items, ## navigation
    sections=sections, ## report (content)
)

## Writing
with open("sample_profiles/harsh_profiling.html", "w") as file:
    file.write(data)

In [12]:
# print (data)

In [ ]:
moments = [
            { "name": "Mean", "value": info["mean"], "alert": False },
            { "name": "Median", "value": info["50%"], "alert": False },
            { "name": "Skewness", "value": info["skewness"], "alert": False },
            { "name": "Kurtosis", "value": info["kurtosis"], "alert": False }
        ]

In [13]:
d = associations(df, column_types).head(5)

In [14]:
d

         col_a  association     col_b    type_
1  PassengerId     0.005007  Survived  NUM-CAT
2  PassengerId     0.035802    Pclass  NUM-CAT
3  PassengerId     1.000000      Name  NUM-CAT
4  PassengerId     0.042939       Sex  NUM-CAT
5  PassengerId     0.036847       Age  NUM-NUM

In [9]:
# def missing_matrix(data: pd.DataFrame) -> str:
#     """Generate missing values matrix plot
#     Args:
#       data: Pandas DataFrame to generate missing values matrix from.
#     Returns:
#       The resulting missing values matrix encoded as a string.
#     """
#     labels = True
#     missingno.matrix(
#         data,
#         figsize=(10, 4),
#         color=hex_to_rgb("#337ab7"),
#         fontsize=10,
#         sparkline=False,
#         labels=labels,
#     )
#     plt.subplots_adjust(left=0.1, right=0.9, top=0.7, bottom=0.2)
#     return plot_360_n0sc0pe(plt)

In [10]:
# html_template = templates.template("temp.html")

# data = html_template.render(
#     content = missing_matrix(df)
# )

# ## Writing
# with open("sample_profiles/temp_profiling.html", "w") as file:
#     file.write(data)

In [18]:
# print (missing_matrix(df))

In [19]:
# missingno.matrix(
#         df,
#         figsize=(10, 4),
#         color=hex_to_rgb("#337ab7"),
#         fontsize=10,
#         sparkline=False,
# #         labels=labels,
#     )

In [17]:
for key, value in descriptive.items():
    print (key)

Distinct values
Missing values

In [14]:
b = pd.DataFrame([["a", "b", "c"], ["c", "d", "e"]])

In [15]:
b

   0  1  2
0  a  b  c
1  c  d  e

In [ ]:
{% for table_i in range(tables) %}
    <div class="col-sm-{{ size }}">
        <p class="h4"> {{ headings[table_i] }}</p>
            <table class="table table-condensed stats">
                <tbody>
                    {% for row in contents[table_i] %}
                        <tr{% if row["alert"] %} class="alert"{% endif %}>
                            <th>{{ row['name'] }}</th>
                            <td>{{ row['value'] }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
    </div>
{% endfor %}

In [ ]:
import numpy as np
import pandas as pd

def get_table_stats(df: pd.DataFrame) -> dict:
    """
    General statistics for the DataFrame.
    """
    n = len(df)

    table_stats = {
        "n": n,
        "n_var": len(df.columns),
        "n_cells_missing": df.isnull().sum().sum(),
        "n_duplicated": sum(df.duplicated())
    }

    table_stats["p_cells_missing"] = table_stats["n_cells_missing"] / (table_stats["n"] * table_stats["n_var"])
    table_stats["p_duplicated"] = table_stats["n_duplicated"] / (table_stats["n"] * table_stats["n_var"])

    for key, value in table_stats.items():
        try:
            table_stats[key] = round(value, 2)
        except:
            pass
        
    return table_stats

def describe_numeric_1d(series: pd.Series) -> dict:
        
    def mad(arr):
        """ Median Absolute Deviation: a "Robust" version of standard deviation.
            Indices variability of the sample.
            https://en.wikipedia.org/wiki/Median_absolute_deviation
        """
        return np.median(np.abs(arr - np.median(arr)))
    
    stats = {}
                
    value_counts_with_nan = series.value_counts(dropna=False)
    value_counts_without_nan = series.value_counts(dropna=True)
    stats["distinct_count_with_nan"] = value_counts_with_nan.count()
    stats["distinct_count_without_nan"] = value_counts_without_nan.count()
    
    # number of observations in the Series
    length = len(series)

    # number of non-NaN observations in the Series
    count = series.count()

    distinct_count = stats["distinct_count_without_nan"]
    
    stats["n"] = length
    stats["distinct_count"] = distinct_count
    stats["p_missing"] = 1 - (count / length)
    stats["n_missing"] = length - count
    stats["is_unique"] = distinct_count == count
    stats["mode"] = series.mode().iloc[0] if count > distinct_count > 1 else series[0]

    values = series.values
    present_values = values[~np.isnan(values)]

    stats["mean"] = np.mean(present_values)
    stats["std"] = np.std(present_values, ddof=1)
    stats["variance"] = np.var(present_values, ddof=1)
    stats["min"] = np.min(present_values)
    stats["max"] = np.max(present_values)
    # Unbiased kurtosis obtained using Fisher's definition (kurtosis of normal == 0.0). Normalized by N-1.
    stats["kurtosis"] = series.kurt()
    # Unbiased skew normalized by N-1
    stats["skewness"] = series.skew()
    stats["mad"] = mad(present_values)
    stats["n_zeros"] = (stats["count"] - np.count_nonzero(present_values))
    stats["p_zeros"] = stats["n_zeros"] / stats["n"]
    
    stats["range"] = stats["max"] - stats["min"]
    
    quantiles = [.25, .5, .75]
    stats.update(
        {
            f"{percentile:.0%}": value
            for percentile, value in series.quantile(quantiles).to_dict().items()
        }
    )

    stats["iqr"] = stats["75%"] - stats["25%"]
    stats["cv"] = stats["std"] / stats["mean"] if stats["mean"] else np.NaN
    
    stats["n_outlier_above"] = len(series[series > (stats["75%"] + 1.5*stats["iqr"])])
    stats["n_outlier_below"] = len(series[series < (stats["25%"] - 1.5*stats["iqr"])])
    stats["n_outlier"] = stats["n_outlier_above"] + stats["n_outlier_below"]
    
    stats["p_outlier_above"] = stats["n_outlier_above"] / stats["n"]
    stats["p_outlier_below"] = stats["n_outlier_below"] / stats["n"]
    stats["p_outlier"] = stats["n_outlier"] / stats["n"]
    
    
    for key, value in stats.items():
        try:
            stats[key] = round(value, 2)
        except:
            pass
    
    return stats

def describe_categorical(series: pd.Series) -> dict:
    
    stats = {}
                
    value_counts_with_nan = series.value_counts(dropna=False)
    value_counts_without_nan = series.value_counts(dropna=True)
    stats["distinct_count_with_nan"] = value_counts_with_nan.count()
    stats["distinct_count_without_nan"] = value_counts_without_nan.count()
    
    # number of observations in the Series
    length = len(series)

    # number of non-NaN observations in the Series
    count = series.count()

    distinct_count = stats["distinct_count_without_nan"]
    
    stats["n"] = length
    stats["distinct_count"] = distinct_count
    stats["p_missing"] = 1 - (count / length)
    stats["n_missing"] = length - count
    stats["is_unique"] = distinct_count == count
    stats["mode"] = series.mode().iloc[0] if count > distinct_count > 1 else series[0]
    
    for key, value in stats.items():
        try:
            stats[key] = round(value, 2)
        except:
            pass
    
    return stats

In [1]:
#no